force-app/main/default/flows/CF_Application_Access_For_User.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Append_PermissionSet</name>
        <label>Append PermissionSet</label>
        <locationX>1847</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>VselectedPermissionsetName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempPermissionSetId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_the_Permission_Set_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_used_Permissionset</name>
        <label>Remove used Permissionset</label>
        <locationX>454</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>VselectedPermissionsetName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VRemainingIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FindApplicationRecordExists_2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Counter_Size_First</name>
        <label>Check Counter Size First</label>
        <locationX>431</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_used_Permissionset</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_counter_Size_second</name>
        <label>check counter Size second</label>
        <locationX>458</locationX>
        <locationY>646</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1_Second</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Counter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_used_Permissionset</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Federation_ID_field_is_populated</name>
        <label>check if Federation ID field is populated</label>
        <locationX>147</locationX>
        <locationY>21</locationY>
        <defaultConnector>
            <targetReference>Federation_ID_must_be_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Federation ID field is empty</defaultConnectorLabel>
        <rules>
            <name>Yes_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vFederationId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_the_Contact_Data</targetReference>
            </connector>
            <label>Yes, Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_VIEWS_Contact_is_Checked</name>
        <label>Check if VIEWS Contact is Checked</label>
        <locationX>681</locationX>
        <locationY>25</locationY>
        <defaultConnectorLabel>Checkbox is Not Checked</defaultConnectorLabel>
        <rules>
            <name>VIEWS_Contact_is_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_VIEWS_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_Application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIEWS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DTC_Application_By_Name</targetReference>
            </connector>
            <label>VIEWS Contact is Checked</label>
        </rules>
        <rules>
            <name>VIEWS_Contact_is_Not_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Application</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIEWS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_VIEWS_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_VIEWS_Contact_Checkbox</targetReference>
            </connector>
            <label>VIEWS Contact is Not Checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordExists_FirstTime</name>
        <label>Check RecordExists FirstTime</label>
        <locationX>742</locationX>
        <locationY>262</locationY>
        <defaultConnector>
            <targetReference>Check_Counter_Size_First</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_Permission_Exits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VExistingApplication1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Application_Access</targetReference>
            </connector>
            <label>Check Permission Exits</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordExists_FirstTime_2</name>
        <label>Check RecordExists FirstTime_2</label>
        <locationX>227</locationX>
        <locationY>640</locationY>
        <defaultConnector>
            <targetReference>check_counter_Size_second</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Check_Permission_Exits_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VExistingApplication1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_2_record_and_so_on</targetReference>
            </connector>
            <label>Check Permission Exits_2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Exists</name>
        <label>Check User Exists</label>
        <locationX>1614</locationX>
        <locationY>258</locationY>
        <defaultConnector>
            <targetReference>Lookup_ProfileID_by_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New User Creation</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VContactUser</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Lookup_User_and_get_License_Type_value</targetReference>
            </connector>
            <label>User Record Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_License_Salesforce</name>
        <label>Is User License = Salesforce?</label>
        <locationX>1162</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>User_License_Type_must_be_Salesforcre</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varUserLicense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindApplicationRecordExists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Validation to ensure that the VIEWS Contact Checkbox is checked. Also changes to ensure that only the option of &apos;VIEWS&apos; appears in DTC Application.</description>
    <dynamicChoiceSets>
        <name>ContactDetails</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceApplicationRoles</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DTC_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDTCApplication.Id</elementReference>
            </value>
        </filters>
        <object>CF_Application_Level__c</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceDTCApplications</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VIEWS</stringValue>
            </value>
        </filters>
        <object>DTC_Application__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoicePermissionSets</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DTC_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDTCApplication.Id</elementReference>
            </value>
        </filters>
        <object>CF_Permission_Mapping__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceUserEmailEncoding</name>
        <dataType>String</dataType>
        <displayField>EmailEncodingKey</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EmailEncodingKey</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceUserLanguage</name>
        <dataType>String</dataType>
        <displayField>LocaleSidKey</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocaleSidKey</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceUserLicense</name>
        <dataType>String</dataType>
        <displayField>License_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>License_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceUserLocale</name>
        <dataType>String</dataType>
        <displayField>LocaleSidKey</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocaleSidKey</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceUserProfile</name>
        <dataType>String</dataType>
        <displayField>ProfileId</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceUserRole</name>
        <dataType>String</dataType>
        <displayField>PortalRole</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PortalRole</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DynamicChoiceUserTimeZone</name>
        <dataType>String</dataType>
        <displayField>TimeZoneSidKey</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TimeZoneSidKey</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <formulas>
        <description>Number of Permission Sets Selected</description>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>CEILING({!Length}/20)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Lenth of the ID</description>
        <name>Length</name>
        <dataType>Number</dataType>
        <expression>LEN({!VselectedPermissionsetName})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>VCommunityNickName</name>
        <dataType>String</dataType>
        <expression>(TRIM(LEFT({!VcontactFname}, 1)) ) &amp; {!VcontactLName}</expression>
    </formulas>
    <formulas>
        <name>VFAliasName</name>
        <dataType>String</dataType>
        <expression>(TRIM(LEFT({!VcontactFname}, 1)) ) &amp; (TRIM(LEFT({!VcontactLName},4)))</expression>
    </formulas>
    <formulas>
        <name>VRemainingIDs</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!VselectedPermissionsetName},({!Length}-18)))</expression>
    </formulas>
    <formulas>
        <name>VSingleParseID</name>
        <dataType>String</dataType>
        <expression>LEFT({!VselectedPermissionsetName},18)</expression>
    </formulas>
    <interviewLabel>CF Application Access For User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Access For User</label>
    <loops>
        <name>Loop_Through_the_Permission_Set_Records</name>
        <label>Loop Through the Permission Set Records</label>
        <locationX>1609</locationX>
        <locationY>29</locationY>
        <assignNextValueToReference>tempPermissionSetId</assignNextValueToReference>
        <collectionReference>PermissionSetsRelatedToApplicationRole</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_PermissionSet</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Find_Single_Record_Permission_set</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_2_record_and_so_on</name>
        <label>Create 2 record and so on</label>
        <locationX>338</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>check_counter_Size_second</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Application_Access_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>VcurrentContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DTC_Application__c</field>
            <value>
                <elementReference>SelectedDTCApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_Set_ID__c</field>
            <value>
                <elementReference>VSingleParseID</elementReference>
            </value>
        </inputAssignments>
        <object>CF_Application_Access__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_User</name>
        <label>Create a User</label>
        <locationX>2102</locationX>
        <locationY>259</locationY>
        <assignRecordIdToReference>UserCreatedRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Find_New_User_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>User_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Alias</field>
            <value>
                <elementReference>VFAliasName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>VCommunityNickName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>VContactemail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailEncodingKey</field>
            <value>
                <stringValue>UTF-8</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FederationIdentifier</field>
            <value>
                <elementReference>vFederationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>VcontactFname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LanguageLocaleKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>VcontactLName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProfileId</field>
            <value>
                <elementReference>varProfileID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <stringValue>America/Los_Angeles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>vFederationId</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Access</name>
        <label>Create Application Access</label>
        <locationX>421</locationX>
        <locationY>255</locationY>
        <connector>
            <targetReference>Check_Counter_Size_First</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Application_Access</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Application_Name__c</field>
            <value>
                <elementReference>vSinglePermissionsetName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>VcurrentContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DTC_Application__c</field>
            <value>
                <elementReference>SelectedDTCApplication.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Permission_Set__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_Set_ID__c</field>
            <value>
                <elementReference>VSinglePermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_Set__c</field>
            <value>
                <elementReference>vSinglePermissionsetName</elementReference>
            </value>
        </inputAssignments>
        <object>CF_Application_Access__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Contact_Name</name>
        <label>Find Contact Name</label>
        <locationX>7</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Federation_ID_field_is_populated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VcurrentContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VContactAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_VIEWS_Contact</assignToReference>
            <field>CF_VIEWS_Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VContactemail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFederationId</assignToReference>
            <field>Federation_Id__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VcontactFname</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VcontactLName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VcontactName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VContactUser</assignToReference>
            <field>User_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_New_User_ID</name>
        <label>Find User ID</label>
        <locationX>2122</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Contact_With_User_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VContactemail</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>VnewUserID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Single_Record_Permission_set</name>
        <label>Find Single Record Permission set</label>
        <locationX>1610</locationX>
        <locationY>153</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VSingleParseID</elementReference>
            </value>
        </filters>
        <object>CF_Permission_Mapping__c</object>
        <outputAssignments>
            <assignToReference>VSinglePermissionSetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSinglePermissionsetName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>FindApplicationRecordExists</name>
        <label>FindApplicationRecordExists</label>
        <locationX>949</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RecordExists_FirstTime</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactIDPermissionSetID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!VcurrentContactID}{!VSinglePermissionSetID}</stringValue>
            </value>
        </filters>
        <object>CF_Application_Access__c</object>
        <outputReference>VExistingApplication1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FindApplicationRecordExists_2</name>
        <label>FindApplicationRecordExists_2</label>
        <locationX>228</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_RecordExists_FirstTime_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactIDPermissionSetID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!VcurrentContactID}{!VSingleParseID}</stringValue>
            </value>
        </filters>
        <object>CF_Application_Access__c</object>
        <outputReference>VExistingApplication1</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_DTC_Application_By_Name</name>
        <label>Get DTC Application By Name</label>
        <locationX>961</locationX>
        <locationY>22</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Application_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Application</elementReference>
            </value>
        </filters>
        <object>DTC_Application__c</object>
        <outputReference>SelectedDTCApplication</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>CF_Profile__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Sets_related_to_Application_Role</name>
        <label>Get Permission Sets related to Application Role</label>
        <locationX>1442</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_the_Permission_Set_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VApplicationRoleID</elementReference>
            </value>
        </filters>
        <filters>
            <field>DTC_Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDTCApplication.Id</elementReference>
            </value>
        </filters>
        <object>CF_Permission_Mapping__c</object>
        <outputReference>PermissionSetsRelatedToApplicationRole</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_ProfileID_by_Name</name>
        <label>Lookup ProfileID by Name</label>
        <locationX>1910</locationX>
        <locationY>264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedDTCApplication.CF_Profile__c</elementReference>
            </value>
        </filters>
        <object>Profile</object>
        <outputAssignments>
            <assignToReference>varProfileID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_User_and_get_License_Type_value</name>
        <label>Lookup User and get License Type value</label>
        <locationX>1360</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_License_Salesforce</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VContactemail</elementReference>
            </value>
        </filters>
        <filters>
            <field>FederationIdentifier</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vFederationId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varUserLicense</assignToReference>
            <field>License_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Selected_Application_Role_Details</name>
        <label>Selected Application Role Details</label>
        <locationX>1278</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Sets_related_to_Application_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Application_Role</elementReference>
            </value>
        </filters>
        <object>CF_Application_Level__c</object>
        <outputAssignments>
            <assignToReference>VApplicationRoleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Store_the_Contact_Data</name>
        <label>Store the Contact Data</label>
        <locationX>344</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Application_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue/>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactRecordName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_With_User_ID</name>
        <label>Update Contact With User ID</label>
        <locationX>970</locationX>
        <locationY>405</locationY>
        <connector>
            <targetReference>FindApplicationRecordExists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>User_Update_Failed</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VcurrentContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>User_ID__c</field>
            <value>
                <elementReference>VnewUserID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Error_Application_Access</name>
        <label>Application Access ERROR</label>
        <locationX>154</locationX>
        <locationY>257</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCreatingApplicationAccess</name>
            <fieldText>Error Occured when Creating Application Access.Please contact your SYSTEM ADMINSTRATOR

{!$Flow.FaultMessage}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Application_Access_0</name>
        <label>Create Application Access Error</label>
        <locationX>1001</locationX>
        <locationY>821</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorCreatingApplicationAccess_0</name>
            <fieldText>Error Occured when Creating Application Access.Please contact your SYSTEM ADMINSTRATOR</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Federation_ID_must_be_populated</name>
        <label>Federation ID must be populated</label>
        <locationX>161</locationX>
        <locationY>132</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PopulateFederationID</name>
            <fieldText>Please ensure that the Federation ID field is populated. 
You can not create Application Access records without it.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Populate_VIEWS_Contact_Checkbox</name>
        <label>Populate VIEWS Contact Checkbox</label>
        <locationX>510</locationX>
        <locationY>147</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>PopulateVIEWSContactCheckbox</name>
            <fieldText>Please ensure that the VIEWS Contact Checkbox is checked when DTC Application is VIEWS. 
You can not create Application Access records without it.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Application_Role</name>
        <label>Select Application Role</label>
        <locationX>1103</locationX>
        <locationY>19</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Application_Role_Details</targetReference>
        </connector>
        <fields>
            <name>Application_Role</name>
            <choiceReferences>DynamicChoiceApplicationRoles</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Application Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Application_Screen</name>
        <label>Select Application Screen</label>
        <locationX>498</locationX>
        <locationY>24</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_VIEWS_Contact_is_Checked</targetReference>
        </connector>
        <fields>
            <name>Select_Application</name>
            <choiceReferences>DynamicChoiceDTCApplications</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Application</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Error</name>
        <label>User Creation Error</label>
        <locationX>2346</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UserCreationError</name>
            <fieldText>Error occured when trying to create a User, Possible Errors: 
1. Check the available licesens
2. Duplicate Federation ID 
3. Duplicate Alias name

Please make sure the Email is Unique Or please chnage the Username. Please contact your SYSTEM ADMINSTRATOR</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_License_Type_must_be_Salesforcre</name>
        <label>User License Type must be Salesforcre</label>
        <locationX>714</locationX>
        <locationY>176</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayLicenseTypeMessage</name>
            <fieldText>The user is currently assigned a license - {!varUserLicense}. In order to continue with this process, you must first update the License Type on the Users&apos; record to a &quot;Salesforce&quot; License Type.  Please visit the VIEWS DTC Application record for the full instructions on how to make the proper adjustments.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Update_Failed</name>
        <label>ERROR Update Contact With User ID</label>
        <locationX>1001</locationX>
        <locationY>727</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UserUpdateFailed</name>
            <fieldText>Error occured when Updating contact User ID. Please contact your SYSTEM ADMINSTRATOR</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Find_Contact_Name</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>ContactName.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>PermissionSetsRelatedToApplicationRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CF_Permission_Mapping__c</objectType>
    </variables>
    <variables>
        <name>SelectedDTCApplication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>DTC_Application__c</objectType>
    </variables>
    <variables>
        <name>SelectedPermissionSets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CF_Permission_Mapping__c</objectType>
    </variables>
    <variables>
        <name>sObjectUserCreateVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>tempPermissionSetId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CF_Permission_Mapping__c</objectType>
    </variables>
    <variables>
        <name>UserCreatedRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>VAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VApplicationRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_VIEWS_Contact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUserLicense</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VContactAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VContactemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VcontactFname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VcontactIdStore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>VcontactName</elementReference>
        </value>
    </variables>
    <variables>
        <name>VcontactLName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VcontactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VContactUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VcurrentContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VExistingApplication1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CF_Application_Access__c</objectType>
    </variables>
    <variables>
        <description>Holds the Federation ID</description>
        <name>vFederationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VnewUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPermissionsetLoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CF_Permission_Mapping__c</objectType>
    </variables>
    <variables>
        <name>VProfileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VselectedPermissionSetList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CF_Permission_Mapping__c</objectType>
    </variables>
    <variables>
        <name>VselectedPermissionsetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VSinglePermissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSinglePermissionsetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
