force-app/main/default/flows/CF_Create_Group_on_VA_Org_Account_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_VIEWS_Group_Exist</name>
        <label>Check if VIEWS Group Exist</label>
        <locationX>693</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varVIEWS_Group_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Created_Public_Group_as_a_member_of_VIEWS_Group</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <description>Add the public group newly created as a member of Public Group - VIEWS_Group</description>
    <formulas>
        <name>nestedGroupName</name>
        <dataType>String</dataType>
        <expression>&apos;N_&apos; + LEFT({!varGroupQueueName},38)</expression>
    </formulas>
    <interviewLabel>CF Create Group on VA Org Account Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF Create Group on VA Org Account Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_Created_Public_Group_as_a_member_of_VIEWS_Group</name>
        <label>Add Created Public Group as a member of VIEWS Group</label>
        <locationX>871</locationX>
        <locationY>329</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>varVIEWS_Group_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Public_Group</name>
        <label>Create a Public Group</label>
        <locationX>180</locationX>
        <locationY>135</locationY>
        <assignRecordIdToReference>varGroupId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Nested_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varGroupQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Nested_Group</name>
        <label>Create Nested Group</label>
        <locationX>400</locationX>
        <locationY>135</locationY>
        <assignRecordIdToReference>NestedGroupID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_VIEWS_Group_ID_to_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>nestedGroupName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordLookups>
        <name>Check_if_VIEWS_Group_Exists</name>
        <label>Check if VIEWS Group Exists</label>
        <locationX>534</locationX>
        <locationY>325</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_VIEWS_Group_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Views_Group</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>varVIEWS_Group_Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Add_VIEWS_Group_ID_to_Account</name>
        <label>Add VIEWS Group ID to Account</label>
        <locationX>625</locationX>
        <locationY>135</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Group_ID__c</field>
            <value>
                <elementReference>varGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Nested_Group_ID__c</field>
            <value>
                <elementReference>NestedGroupID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Create_a_Public_Group</startElementReference>
    <status>Active</status>
    <variables>
        <name>NestedGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the Account ID passed from the Process Builder - Process Builder - CF Account Related Functionality Edit Account.</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the ID of the newly created group</description>
        <name>varGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Received from Process Builder - Process Builder - CF Account Related Functionality Edit Account.
We will use this as the name for the Public Group being created.</description>
        <name>varGroupQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Holds the ID of the Public group VIEWS_Group</description>
        <name>varVIEWS_Group_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <waits>
        <name>Wait_for_0_Hours</name>
        <label>Wait for 0 Hours</label>
        <locationX>325</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_Waiting</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Check_if_VIEWS_Group_Exists</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
            </inputParameters>
            <label>After Waiting</label>
        </waitEvents>
    </waits>
</Flow>
