force-app/main/default/flows/CF_User_When_the_Contact_is_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assigns the Sobjects for VIEWS Queues</description>
        <name>Assign_SObjects_to_Collection_Variable</name>
        <label>Assign SObjects to Collection Variable</label>
        <locationX>570</locationX>
        <locationY>68</locationY>
        <assignmentItems>
            <assignToReference>VarSObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConCaseTask</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConArcCase</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConArcCaseAttachment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSObjects</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConCaseAttachment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SObjects</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>API name for ARC-Case</description>
        <name>ConArcCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARC_Case__c</stringValue>
        </value>
    </constants>
    <constants>
        <description>API name for Arc-Case Attachment</description>
        <name>ConArcCaseAttachment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ARC_Case_Attachment__c</stringValue>
        </value>
    </constants>
    <constants>
        <description>Constant with Case API name</description>
        <name>ConCase</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </constants>
    <constants>
        <description>API name of Case Attachment object</description>
        <name>ConCaseAttachment</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Views_Case_Attachment__c</stringValue>
        </value>
    </constants>
    <constants>
        <description>Case task API name</description>
        <name>ConCaseTask</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Views_Case_Tasks__c</stringValue>
        </value>
    </constants>
    <constants>
        <description>This is the Views All Group ID For allocating the Dynamically created Users as a group memeber of the Views Group</description>
        <name>VViewsGroupId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>00Gt0000000JyD7</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decision node to see if a Queue exists for the office</description>
        <name>Queue_Created_for_Account</name>
        <label>Queue Created for Account</label>
        <locationX>158</locationX>
        <locationY>61</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Queue_Not_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_DML_error</targetReference>
            </connector>
            <label>No Queue Not Created</label>
        </rules>
        <rules>
            <name>Yes_Queue_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_information</targetReference>
            </connector>
            <label>Yes Queue Created</label>
        </rules>
    </decisions>
    <description>User is now added to nested office group

AK 3/4 added the creation of a queue for an office when the first views contact is added</description>
    <interviewLabel>CF User When the Contact is Created  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF User When the Contact is Created</label>
    <loops>
        <description>Loops through each object needed to be added to a queue</description>
        <name>Loop_Through_SObjects</name>
        <label>Loop Through SObjects</label>
        <locationX>692</locationX>
        <locationY>70</locationY>
        <assignNextValueToReference>SObjectLoop</assignNextValueToReference>
        <collectionReference>VarSObjects</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_QueueSObject_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Wait_for_SObject_DML_to_run</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Adds the office&apos;s public group to the newly created queue.</description>
        <name>Add_Public_Group_to_Queue</name>
        <label>Add Public Group to Queue</label>
        <locationX>462</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Assign_SObjects_to_Collection_Variable</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>VarQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VAPublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Group_Member</name>
        <label>Create a Group Member</label>
        <locationX>678</locationX>
        <locationY>257</locationY>
        <assignRecordIdToReference>VGMember</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Nested_Group_Member</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>VAPublicGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VContactUser</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Group_memeber_for_Views_Group</name>
        <label>Create a Group memeber for Views Group</label>
        <locationX>944</locationX>
        <locationY>277</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>VViewsGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VContactUser</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Nested_Group_Member</name>
        <label>Create Nested Group Member</label>
        <locationX>820</locationX>
        <locationY>256</locationY>
        <connector>
            <targetReference>Create_a_Group_memeber_for_Views_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>NestedGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VContactUser</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a Queue for the related office</description>
        <name>Create_Queue_for_Account</name>
        <label>Create Queue for Account</label>
        <locationX>375</locationX>
        <locationY>67</locationY>
        <assignRecordIdToReference>VarQueueID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Public_Group_to_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>DoesSendEmailToMembers</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <stringValue>fakeemail@example.com.invalid</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>VarAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordCreates>
        <description>Creates QueueSObject associations for the related Queue</description>
        <name>Create_QueueSObject_Records</name>
        <label>Create QueueSObject Records</label>
        <locationX>899</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>Loop_Through_SObjects</targetReference>
        </connector>
        <inputAssignments>
            <field>QueueId</field>
            <value>
                <elementReference>VarQueueID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SobjectType</field>
            <value>
                <elementReference>SObjectLoop</elementReference>
            </value>
        </inputAssignments>
        <object>QueueSobject</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_information</name>
        <label>Contact information</label>
        <locationX>165</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Queue_ID_to_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VCurrentContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>VAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VCurrentContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VContactUser</assignToReference>
            <field>User_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Adds newly created queue ID to the associated account</description>
        <name>Add_Queue_ID_to_Account</name>
        <label>Add Queue ID to Account</label>
        <locationX>386</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>Wait_for_0_hrs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Queue_ID__c</field>
            <value>
                <elementReference>VarQueueID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Queue_Created_for_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>NestedGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Used to created QueueSObject records</description>
        <name>SObjectLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VAPublicGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Captures name of associated account (40 chars max)</description>
        <name>VarAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Captures the queue id on the account record</description>
        <name>VarQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Captures API names</description>
        <name>VarSObjects</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VContactUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VCurrentContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VGMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VPriorContactUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_for_0_hrs</name>
        <label>Wait for 0 hrs</label>
        <locationX>530</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_a_Group_Member</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VCurrentContactID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_DML_error</name>
        <label>Wait for DML error</label>
        <locationX>266</locationX>
        <locationY>62</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_for_zero_hours</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Create_Queue_for_Account</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause for zero hours</label>
        </waitEvents>
    </waits>
    <waits>
        <description>Used so we do not hit a mixed DML error.</description>
        <name>Wait_for_SObject_DML_to_run</name>
        <label>Wait for SObject DML to run</label>
        <locationX>370</locationX>
        <locationY>201</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Default_Pause</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Contact_information</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Default Pause</label>
        </waitEvents>
    </waits>
</Flow>
