src/flows/CF_Application_Access_With_Contact_and_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Account_has_Public_Group</name>
        <label>Check if Account has Public Group</label>
        <locationX>788</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Create_User_as_Group_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account has an associated Group and Queue</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_has_a_Group_but_not_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFirstPermissionSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Views_Account_is_checked</targetReference>
            </connector>
            <label>Account has a Group but not Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Views_Account_is_checked</name>
        <label>Check Views Account is Unchecked</label>
        <locationX>1147</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_Views_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varViewsAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varFirstPermissionSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_Flow</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Account_had_a_Group_and_Queue</name>
        <label>Does Account Have an Associated Group and Queue</label>
        <locationX>786</locationX>
        <locationY>108</locationY>
        <defaultConnector>
            <targetReference>Check_if_Account_has_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Views_Account_is_checked</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Core Functionality Enhancements - Changes based on Schema changes to Permission_Set__c object</description>
    <interviewLabel>CF Application Access With Contact and Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF Application Access With Contact and Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_a_Permission_set_to_User</name>
        <label>Assign a Permission set to User</label>
        <locationX>632</locationX>
        <locationY>111</locationY>
        <assignRecordIdToReference>varPermissionSetAssignmentRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Decide_Account_had_a_Group_and_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>varPermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
    </recordCreates>
    <recordCreates>
        <name>Create_User_as_Group_Member</name>
        <label>Create User as Group Member</label>
        <locationX>791</locationX>
        <locationY>440</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>varGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Create_User_as_Group_Member_0</name>
        <label>Create User as Group Member</label>
        <locationX>1486</locationX>
        <locationY>110</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>varCreatedGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varUserID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_PermissionSet</name>
        <label>Lookup PermissionSet</label>
        <locationX>480</locationX>
        <locationY>235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_a_Permission_set_to_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetAPIName</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>varPermissionSetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_To_Account</name>
        <label>Lookup To Account</label>
        <locationX>478</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_PermissionSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varGroupID</assignToReference>
            <field>CF_Group_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQueueID</assignToReference>
            <field>CF_Queue_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varViewsAccount</assignToReference>
            <field>CF_VIEWS_Account__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_to_Application_Access</name>
        <label>Lookup to Application Access</label>
        <locationX>15</locationX>
        <locationY>106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_to_Permission_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCurrentAAID</elementReference>
            </value>
        </filters>
        <object>CF_Application_Access__c</object>
        <outputAssignments>
            <assignToReference>varAAContactID</assignToReference>
            <field>Contact__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varFirstPermissionSet</assignToReference>
            <field>First_Permission_Set__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPermissionSetRecordID</assignToReference>
            <field>Permission_Set_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_to_Contact</name>
        <label>Lookup to Contact</label>
        <locationX>326</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_To_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAAContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserID</assignToReference>
            <field>User_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_to_Permission_set</name>
        <label>Lookup to Permission set</label>
        <locationX>162</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_to_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetRecordID</elementReference>
            </value>
        </filters>
        <object>CF_Permission_Mapping__c</object>
        <outputAssignments>
            <assignToReference>varPermissionSetAPIName</assignToReference>
            <field>Permission_Set_API_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Views_Account_Checkbox</name>
        <label>Update Views Account Checkbox</label>
        <locationX>1326</locationX>
        <locationY>246</locationY>
        <connector>
            <targetReference>Account_Add_functionality</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_VIEWS_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Lookup_to_Application_Access</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Account_Add_functionality</name>
        <label>Account Add functionality</label>
        <locationX>1319</locationX>
        <locationY>104</locationY>
        <connector>
            <targetReference>Create_User_as_Group_Member_0</targetReference>
        </connector>
        <flowName>CF_Account_Related_Functionality_Add_Account_Flow</flowName>
        <inputAssignments>
            <name>VarAccountId</name>
            <value>
                <elementReference>varAccountID</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedGroupID</assignToReference>
            <name>varGroupId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedQueueID</assignToReference>
            <name>varQueueId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>varAAContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrentAAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFirstPermissionSet</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the API name of the Permission Set to be added.</description>
        <name>varPermissionSetAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPermissionSetAssignmentRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPermissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPermissionSetRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varViewsAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_Flow</name>
        <label>Wait Flow</label>
        <locationX>1153</locationX>
        <locationY>245</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Wait</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Views_Account_Checkbox</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>varAccountID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>Wait</label>
        </waitEvents>
    </waits>
</Flow>
