src/ CF_Extract/flows/CF_Account_Related_Functionality_Add_Account_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Group_Exists</name>
        <label>Check if Group Exists</label>
        <locationX>150</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Create_a_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Group and Queue does not Exist</defaultConnectorLabel>
        <rules>
            <name>Group_Exists_Queue_Dot_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varGroupId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varQueueId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Queue</targetReference>
            </connector>
            <label>Group Exists, Queue Dot Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Account_had_a_Parent_Account</name>
        <label>Does Account have an associated Parent Account?</label>
        <locationX>964</locationX>
        <locationY>179</locationY>
        <defaultConnector>
            <targetReference>Decide_Parentaccount_had_a_Group_and_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes, Parent Account Exists</defaultConnectorLabel>
        <rules>
            <name>Yes_parent_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentAccountID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_and_Group_ID</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decide_Parentaccount_had_a_Group_and_Queue</name>
        <label>Does Parent Account have a Group and Queue</label>
        <locationX>962</locationX>
        <locationY>317</locationY>
        <defaultConnector>
            <targetReference>Wait_for_0_hrs_1_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_parent_Account_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varParentGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varParentQueueID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_0_hrs_1_0_0_0</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Changes related CF Enhancements. Associated ARC-Case and ARC-Case Attachment objects to the Queue.</description>
    <interviewLabel>CF Account Related Functionality Add Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF Account Related Functionality Add Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assign_a_Group_to_Queue</name>
        <label>Assign a Group to Queue</label>
        <locationX>1651</locationX>
        <locationY>183</locationY>
        <connector>
            <targetReference>Assign_Queue_to_Case_Object</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varGroupId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_Queue_to_ARC_Case</name>
        <label>Assign Queue to ARC-Case</label>
        <locationX>1663</locationX>
        <locationY>577</locationY>
        <connector>
            <targetReference>Assign_Queue_to_ARC_Case_Attachment</targetReference>
        </connector>
        <inputAssignments>
            <field>QueueId</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SobjectType</field>
            <value>
                <stringValue>ARC_Case__c</stringValue>
            </value>
        </inputAssignments>
        <object>QueueSobject</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_Queue_to_ARC_Case_Attachment</name>
        <label>Assign Queue to ARC-Case Attachment</label>
        <locationX>1660</locationX>
        <locationY>677</locationY>
        <inputAssignments>
            <field>QueueId</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SobjectType</field>
            <value>
                <stringValue>ARC_Case_Attachment__c</stringValue>
            </value>
        </inputAssignments>
        <object>QueueSobject</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_Queue_to_Case_Object</name>
        <label>Assign Queue to Case Object</label>
        <locationX>1655</locationX>
        <locationY>281</locationY>
        <connector>
            <targetReference>Assign_Queue_to_Case_Object_1</targetReference>
        </connector>
        <inputAssignments>
            <field>QueueId</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SobjectType</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <object>QueueSobject</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_Queue_to_Case_Object_1</name>
        <label>Assign Queue to Case Task Object</label>
        <locationX>1660</locationX>
        <locationY>386</locationY>
        <connector>
            <targetReference>Assign_Queue_to_Case_Object_1_1</targetReference>
        </connector>
        <inputAssignments>
            <field>QueueId</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SobjectType</field>
            <value>
                <stringValue>Views_Case_Tasks__c</stringValue>
            </value>
        </inputAssignments>
        <object>QueueSobject</object>
    </recordCreates>
    <recordCreates>
        <name>Assign_Queue_to_Case_Object_1_1</name>
        <label>Assign Queue to Case Attachment Object</label>
        <locationX>1663</locationX>
        <locationY>479</locationY>
        <connector>
            <targetReference>Assign_Queue_to_ARC_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>QueueId</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SobjectType</field>
            <value>
                <stringValue>Views_Case_Attachment__c</stringValue>
            </value>
        </inputAssignments>
        <object>QueueSobject</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Public_Group</name>
        <label>Create a Public Group</label>
        <locationX>460</locationX>
        <locationY>179</locationY>
        <assignRecordIdToReference>varGroupId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_a_Queue</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varGroupQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Queue</name>
        <label>Create a Queue</label>
        <locationX>651</locationX>
        <locationY>180</locationY>
        <assignRecordIdToReference>varQueueId</assignRecordIdToReference>
        <connector>
            <targetReference>lookup_to_Parent_Account_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varGroupQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Queue</name>
        <label>Create Queue</label>
        <locationX>463</locationX>
        <locationY>44</locationY>
        <assignRecordIdToReference>varQueueId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Account_with_QueueId</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varGroupQueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </inputAssignments>
        <object>Group</object>
    </recordCreates>
    <recordCreates>
        <description>Add Account Group to as a member of Parent Group</description>
        <name>ParentAccount_Group_in_Account_Group</name>
        <label>Add Parent Account as a member of Child&apos;s Public Group</label>
        <locationX>967</locationX>
        <locationY>579</locationY>
        <connector>
            <targetReference>Wait_for_0_hrs_1_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>varGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>varParentGroupID</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_to_Account</name>
        <label>Lookup to Account</label>
        <locationX>14</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Group_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varGroupId</assignToReference>
            <field>CF_Group_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGroupQueueName</assignToReference>
            <field>CF_Group_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMailCode</assignToReference>
            <field>CF_Mail_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQueueId</assignToReference>
            <field>CF_Queue_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentAccountID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>lookup_to_Parent_Account_ID</name>
        <label>lookup to Parent Account ID</label>
        <locationX>802</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_Account_had_a_Parent_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varParentAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varParentGroupID</assignToReference>
            <field>CF_Group_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentQueueID</assignToReference>
            <field>CF_Queue_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_with_QueueId</name>
        <label>Update Account with QueueId</label>
        <locationX>1251</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Wait_for_0_hrs_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Queue_ID__c</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Queue and Group ID back to account record</description>
        <name>Update_Queue_and_Group_ID</name>
        <label>Update Queue and Group ID</label>
        <locationX>1255</locationX>
        <locationY>180</locationY>
        <connector>
            <targetReference>Wait_for_0_hrs_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Group_ID__c</field>
            <value>
                <elementReference>varGroupId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Queue_ID__c</field>
            <value>
                <elementReference>varQueueId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Lookup_to_Account</startElementReference>
    <status>Active</status>
    <variables>
        <name>VarAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00135000003eB7yAAE</stringValue>
        </value>
    </variables>
    <variables>
        <name>VarAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMailCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOldPAGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPrioAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_for_0_hrs_1_0</name>
        <label>Wait for 0 hrs</label>
        <locationX>1454</locationX>
        <locationY>181</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Assign_a_Group_to_Queue</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_0_hrs_1_0_0</name>
        <label>Wait for 0 hrs</label>
        <locationX>1253</locationX>
        <locationY>578</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_0_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Queue_and_Group_ID</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_0_hrs_1_0_0_0</name>
        <label>Wait for 0 hrs</label>
        <locationX>1134</locationX>
        <locationY>318</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_Queue_and_Group_ID</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_0_hrs_1_0_0_0_0</name>
        <label>Wait for 0 hrs</label>
        <locationX>965</locationX>
        <locationY>442</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>ParentAccount_Group_in_Account_Group</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
</Flow>
