CF_Extract/flows/CF_Account_Related_Functionality_Edit_Account_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddParentAccountGroupasaMemberofAccountGroup</name>
        <label>Add Parent Account Group as a Member of Account Group</label>
        <locationX>940</locationX>
        <locationY>176</locationY>
        <actionName>Views_CF_PBAddPublicGroupFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Wait_for_0_hrs_1_1_1_2</targetReference>
        </connector>
        <inputParameters>
            <name>PublicGroupId</name>
            <value>
                <elementReference>VarPublicGroupId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserId</name>
            <value>
                <elementReference>VarPAGroupID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RemoveParentAccountGroupasaMemberofAccountGroup</name>
        <label>Remove Parent Account Group as a Member of Account Group</label>
        <locationX>488</locationX>
        <locationY>323</locationY>
        <actionName>Views_CF_PBRemovePublicGroupFromFlow</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>PublicGroupId</name>
            <value>
                <elementReference>VarPublicGroupId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordID</name>
            <value>
                <elementReference>VarOlfParentGroupMemeberRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserId</name>
            <value>
                <elementReference>VarOldPAGroupID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>RemoveParentAccountGroupasaMemberofAccountGroup_1</name>
        <label>Remove Parent Account Group as a Member of Account Group</label>
        <locationX>296</locationX>
        <locationY>453</locationY>
        <actionName>Views_CF_PBRemovePublicGroupFromFlow</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>PublicGroupId</name>
            <value>
                <elementReference>VarPublicGroupId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordID</name>
            <value>
                <elementReference>VarOlfParentGroupMemeberRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>UserId</name>
            <value>
                <elementReference>VarOldPAGroupID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_Parent_s_Group_ID_is_Not_Null</name>
        <label>Check if Parent&apos;s Group ID is Not Null</label>
        <locationX>301</locationX>
        <locationY>246</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOldPAGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_0_hrs_1_1_1_0</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parent_Account_check</name>
        <label>Parent Account check</label>
        <locationX>472</locationX>
        <locationY>25</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Parent_Account_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarPAID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_0_hrs_1</targetReference>
            </connector>
            <label>Parent Account Not null</label>
        </rules>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarPAID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_0_hrs_1_1_1</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Prior_Parent_Account</name>
        <label>Prior Parent Account</label>
        <locationX>677</locationX>
        <locationY>353</locationY>
        <defaultConnectorLabel>NULL</defaultConnectorLabel>
        <rules>
            <name>If_Prior_Parent_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarOldPAGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_0_hrs_1_1</targetReference>
            </connector>
            <label>If Prior Parent is Not Null</label>
        </rules>
    </decisions>
    <description>Retrieve Parent&apos;s group id.</description>
    <interviewLabel>CF Account Related Functionality Edit Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF Account Related Functionality Edit Account Flow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Look_up_the_Group_Memeber1</name>
        <label>Look up the Group Memeber</label>
        <locationX>788</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prior_Parent_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPublicGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOldPAGroupID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>VarOlfParentGroupMemeberRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Look_up_the_Group_Memeber1_0</name>
        <label>Look up the Group Memeber</label>
        <locationX>297</locationX>
        <locationY>142</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Parent_s_Group_ID_is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPublicGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarOldPAGroupID</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputAssignments>
            <assignToReference>VarOlfParentGroupMemeberRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Account_ID</name>
        <label>Lookup Account ID</label>
        <locationX>636</locationX>
        <locationY>166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Account_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarPublicGroupId</assignToReference>
            <field>CF_Nested_Group_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarQueueId</assignToReference>
            <field>CF_Queue_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarPAID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Obtain_Parent_Account_s_Group_Id</name>
        <label>Obtain Parent Account&apos;s Group Id</label>
        <locationX>939</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddParentAccountGroupasaMemberofAccountGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPAID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarPAGroupID</assignToReference>
            <field>CF_Nested_Group_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Prior_Group_ID</name>
        <label>Prior Group ID</label>
        <locationX>293</locationX>
        <locationY>55</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_up_the_Group_Memeber1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPrioParentAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarOldPAGroupID</assignToReference>
            <field>CF_Nested_Group_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Prior_Group_ID_0</name>
        <label>Prior Group ID</label>
        <locationX>961</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_up_the_Group_Memeber1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarPrioParentAccountID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>VarOldPAGroupID</assignToReference>
            <field>CF_Nested_Group_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Lookup_Account_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarOldPAGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOlfParentGroupMemeberRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPAGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPrioParentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VGroupQueueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>VGroupType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </variables>
    <waits>
        <name>Wait_for_0_hrs_1</name>
        <label>Wait for 0 hrs</label>
        <locationX>751</locationX>
        <locationY>51</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Obtain_Parent_Account_s_Group_Id</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_0_hrs_1_1</name>
        <label>Wait for 0 hrs</label>
        <locationX>482</locationX>
        <locationY>452</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>RemoveParentAccountGroupasaMemberofAccountGroup</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_0_hrs_1_1_1</name>
        <label>Wait for 0 hrs</label>
        <locationX>475</locationX>
        <locationY>198</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Prior_Group_ID</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_0_hrs_1_1_1_0</name>
        <label>Wait for 0 hrs</label>
        <locationX>296</locationX>
        <locationY>346</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_1_1_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>RemoveParentAccountGroupasaMemberofAccountGroup_1</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_0_hrs_1_1_1_2</name>
        <label>Wait for 0 hrs</label>
        <locationX>954</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_1_1_2</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Prior_Group_ID_0</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
</Flow>
