CF_Extract/flows/CF_Move_Contact_To_New_Office.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Does_the_old_group_assignment_exist</name>
        <label>Does the old group assignment exist?</label>
        <locationX>849</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>Get_old_nested_group_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldGroupAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_User_From_Old_Public_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_old_nested_group_assignment_exist</name>
        <label>Does the old nested group assignment exist?</label>
        <locationX>845</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Get_New_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldGroupAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_User_From_Old_Nested_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_old_account_value_null</name>
        <label>Is old account value null?</label>
        <locationX>259</locationX>
        <locationY>82</locationY>
        <defaultConnector>
            <targetReference>Get_Old_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Old account is not null</defaultConnectorLabel>
        <rules>
            <name>Old_account_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>oldAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_New_Public_Group</targetReference>
            </connector>
            <label>Old account is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_new_group_ID_null</name>
        <label>Is the new group ID null?</label>
        <locationX>617</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Add_User_To_New_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_new_nested_group_ID_null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_new_nested_group_ID_null</name>
        <label>Is the new nested group ID null?</label>
        <locationX>618</locationX>
        <locationY>559</locationY>
        <defaultConnector>
            <targetReference>Add_User_to_New_Nested_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newNestedGroupID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Moves Contact to new office by changing the public group the user belongs to</description>
    <interviewLabel>CF Move Contact To New Office {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF Move Contact To New Office</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_User_to_New_Nested_Group</name>
        <label>Add User to New Nested Group</label>
        <locationX>810</locationX>
        <locationY>556</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>newNestedGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordCreates>
        <name>Add_User_To_New_Public_Group</name>
        <label>Add User To New Public Group</label>
        <locationX>814</locationX>
        <locationY>440</locationY>
        <connector>
            <targetReference>Is_the_new_nested_group_ID_null</targetReference>
        </connector>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>newGroupID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_User_From_Old_Nested_Group</name>
        <label>Delete User From Old Nested Group</label>
        <locationX>1021</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Get_New_Public_Group</targetReference>
        </connector>
        <inputReference>oldGroupAssignment</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_User_From_Old_Public_Group</name>
        <label>Delete User From Old Public Group</label>
        <locationX>1024</locationX>
        <locationY>86</locationY>
        <connector>
            <targetReference>Get_old_nested_group_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_New_Public_Group</name>
        <label>Get New Public Group</label>
        <locationX>458</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_new_group_ID_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>newGroupID</assignToReference>
            <field>CF_Group_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>newNestedGroupID</assignToReference>
            <field>CF_Nested_Group_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_old_group_assignment</name>
        <label>Get old group assignment</label>
        <locationX>707</locationX>
        <locationY>86</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_old_group_assignment_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>oldGroupAssignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_old_nested_group_assignment</name>
        <label>Get old nested group assignment</label>
        <locationX>705</locationX>
        <locationY>253</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_the_old_nested_group_assignment_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldNestedGroupID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarUserId</elementReference>
            </value>
        </filters>
        <object>GroupMember</object>
        <outputReference>oldGroupAssignment</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Public_Group</name>
        <label>Get Old Public Group</label>
        <locationX>526</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_old_group_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oldAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>oldGroupID</assignToReference>
            <field>CF_Group_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>oldNestedGroupID</assignToReference>
            <field>CF_Nested_Group_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_s_Account_ID</name>
        <label>Get User&apos;s Account ID</label>
        <locationX>92</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_old_account_value_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>UserAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_User_s_Account_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newNestedGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldGroupAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>oldGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldNestedGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAEmployeesRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewPublicGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
