mdapipkg/unpackaged/flows/Add_User.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Save_User_ID</name>
        <label>Save User ID</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>savedUserID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Application_Request</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Status_Active</name>
        <choiceText>Active</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Active</stringValue>
        </value>
    </choices>
    <choices>
        <name>Status_Inactive</name>
        <choiceText>Inactive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Inactive</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>Input_Application_Level</name>
        <dataType>String</dataType>
        <displayField>Level_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Level_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Application_Level__c</object>
        <outputAssignments>
            <assignToReference>Output_Application_Level</assignToReference>
            <field>Level_Name__c</field>
        </outputAssignments>
        <valueField>Level_Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Input_Application_Name</name>
        <dataType>String</dataType>
        <displayField>Application_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Application_Name__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AD_Application__c</object>
        <outputAssignments>
            <assignToReference>Output_Application_Name</assignToReference>
            <field>Application_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Application_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Application_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Application_Name__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Add User {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add User</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Application_Request</name>
        <label>Create Application Request</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <inputAssignments>
            <field>AD_Application_Level__c</field>
            <value>
                <elementReference>Input_Application_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AD_Application_Name__c</field>
            <value>
                <elementReference>Input_Application_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AD_Application__c</field>
            <value>
                <elementReference>Application_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AD_User__c</field>
            <value>
                <elementReference>Create_User</elementReference>
            </value>
        </inputAssignments>
        <object>AD_Application_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_User</name>
        <label>Create User</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Save_User_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AD_Federation_Id__c</field>
            <value>
                <elementReference>Federation_Id_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AD_First_Name__c</field>
            <value>
                <elementReference>First_Name_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AD_Last_Name__c</field>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AD_User_Email__c</field>
            <value>
                <elementReference>Email_Address_Input</elementReference>
            </value>
        </inputAssignments>
        <object>AD_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Submit_User_Event</name>
        <label>Submit User Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Create_User</targetReference>
        </connector>
        <inputAssignments>
            <field>AD_SEC_ID__c</field>
            <value>
                <elementReference>SECID_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Address__c</field>
            <value>
                <elementReference>Email_Address_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Federation_Id__c</field>
            <value>
                <elementReference>Federation_Id_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName__c</field>
            <value>
                <elementReference>First_Name_input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name__c</field>
            <value>
                <elementReference>Level_Name_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName__c</field>
            <value>
                <elementReference>Last_Name_Input</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_AD_Group__c</field>
            <value>
                <elementReference>Application_Name_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>AD_Group_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>AD_User_Creation</name>
        <label>AD User Creation</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Submit_User_Event</targetReference>
        </connector>
        <fields>
            <name>First_Name_input</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Last_Name_Input</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Address_Input</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Federation_Id_Input</name>
            <dataType>String</dataType>
            <fieldText>Federation Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SECID_Input</name>
            <dataType>String</dataType>
            <fieldText>SECID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Application_Name_picklist</name>
            <choiceReferences>Input_Application_Name</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Application Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Level_Name_Picklist</name>
            <choiceReferences>Input_Application_Level</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Level Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status_Picklist</name>
            <choiceReferences>Status_Active</choiceReferences>
            <choiceReferences>Status_Inactive</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AD_User_Creation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Application_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_User_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AD_Group_Update__e</objectType>
    </variables>
    <variables>
        <name>Output_AD_SEC_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Application_Level</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Application_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Email_Address</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Federation_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Group_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_SECID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Save_User_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AD_Group_Update__e</objectType>
    </variables>
    <variables>
        <name>savedUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
