src/CF_Extract/flows/CF_Account_Related_Functionality_Deactivate_Account.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Parent_Account_changed</name>
        <label>Parent Account changed</label>
        <locationX>481</locationX>
        <locationY>62</locationY>
        <defaultConnector>
            <targetReference>Lookup_to_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Inactive_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_to_Account_0</targetReference>
            </connector>
            <label>Inactive Account</label>
        </rules>
    </decisions>
    <formulas>
        <name>VFGroupName</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM({!VarAccountName}),(39 - LEN({!VMailCode}))) &amp; &apos;-&apos; &amp; {!VMailCode}</expression>
    </formulas>
    <formulas>
        <name>VFQueueName</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM({!VarAccountName}),(39 - LEN({!VMailCode}))) &amp; &apos;-&apos; &amp; {!VMailCode}</expression>
    </formulas>
    <interviewLabel>CF Account Related Functi {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CF Account Related Functionality Deactivate Account</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Public_Group</name>
        <label>Delete Public Group</label>
        <locationX>71</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Delete_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regular</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Queue</name>
        <label>Delete Queue</label>
        <locationX>72</locationX>
        <locationY>176</locationY>
        <connector>
            <targetReference>Wait_for_0_hrs_1_1_1_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarQueueId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_to_Account</name>
        <label>Lookup to Account</label>
        <locationX>488</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Add_Functionlaity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varGroupQueueName</assignToReference>
            <field>CF_Group_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMailCode</assignToReference>
            <field>CF_Mail_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentAccountID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_to_Account_0</name>
        <label>Lookup to Account</label>
        <locationX>266</locationX>
        <locationY>180</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Wait_for_0_hrs_1_1_1_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varGroupId</assignToReference>
            <field>CF_Group_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varGroupQueueName</assignToReference>
            <field>CF_Group_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varMailCode</assignToReference>
            <field>CF_Mail_Code__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VarQueueId</assignToReference>
            <field>CF_Queue_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varParentAccountID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Account_Record</name>
        <label>Update the Account Record</label>
        <locationX>267</locationX>
        <locationY>275</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CF_Group_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CF_Queue_ID__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Parent_Account_changed</startElementReference>
    <status>Active</status>
    <subflows>
        <name>Account_Add_Functionlaity</name>
        <label>Account Add Functionlaity</label>
        <locationX>651</locationX>
        <locationY>197</locationY>
        <flowName>CF_Account_Related_Functionality_Add_Account_Flow</flowName>
        <inputAssignments>
            <name>VarAccountId</name>
            <value>
                <elementReference>VarAccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedGroupID</assignToReference>
            <name>varGroupId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCreatedQueueID</assignToReference>
            <name>varQueueId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Number</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>VarAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VarAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varCreatedGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCreatedQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGroupQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varMailCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarOldPAGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPAGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPAID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentGroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varParentQueueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarPrioAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VarQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>VGroupType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>VMailCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Wait_for_0_hrs_1_1_1_1</name>
        <label>Wait for 0 hrs</label>
        <locationX>264</locationX>
        <locationY>62</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_1_1_1</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Delete_Public_Group</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_0_hrs_1_1_1_1_0</name>
        <label>Wait for 0 hrs</label>
        <locationX>73</locationX>
        <locationY>279</locationY>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>After_0_hrs_1_1_1_1_0</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Update_the_Account_Record</targetReference>
            </connector>
            <eventType>DateRefAlarmEvent</eventType>
            <inputParameters>
                <name>EntityObjectId</name>
                <value>
                    <elementReference>VarAccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeFieldColumnEnumOrId</name>
                <value>
                    <stringValue>createdDate</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeTableColumnEnumOrId</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>After 0 hrs</label>
        </waitEvents>
    </waits>
</Flow>
